version: "3"

services:
  backend:
    build: ./backend
    container_name: expense-backend
    ports:
      - "5000:5000"
    restart: always

  frontend:
    build: ./frontend
    container_name: expense-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    restart: always
